
<style>
  #footer {
    font-size: 13px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
    text-align: center;
    min-width: 230px;
    max-width: 300px;
  }
  #footer p {
    margin: 0;
  }
</style>
<script async defer src="{{"js/buttons.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>